In [1]:
%load_ext sql

In [2]:
%sql sqlite:///chinook.db

In [4]:
%sql SELECT track_id,name FROM track WHERE milliseconds > 5000000

 * sqlite:///chinook.db
Done.

[(2820, 'Occupation / Precipice'), (3224, 'Through a Looking Glass')]

In [5]:
%sql SELECT invoice_id,total FROM invoice WHERE total BETWEEN 5 AND 15;

 * sqlite:///chinook.db
Done.

[(2, 9.9),
 (4, 7.92),
 (7, 10.89),
 (8, 9.9),
 (9, 8.91),
 (11, 10.89),
 (16, 8.91),
 (17, 10.89),
 (19, 6.93),
 (20, 9.9),
 (21, 8.91),
 (23, 9.9),
 (24, 11.879999999999999),
 (25, 7.92),
 (27, 7.92),
 (29, 5.9399999999999995),
 (30, 10.89),
 (32, 12.87),
 (36, 6.93),
 (37, 9.9),
 (38, 6.93),
 (39, 7.92),
 (40, 9.9),
 (41, 7.92),
 (42, 8.91),
 (43, 6.93),
 (44, 11.879999999999999),
 (45, 7.92),
 (46, 10.89),
 (47, 5.9399999999999995),
 (50, 6.93),
 (51, 7.92),
 (52, 11.879999999999999),
 (55, 9.9),
 (58, 5.9399999999999995),
 (59, 10.89),
 (60, 7.92),
 (61, 11.879999999999999),
 (63, 5.9399999999999995),
 (64, 12.87),
 (66, 6.93),
 (67, 10.89),
 (68, 10.89),
 (69, 13.86),
 (73, 14.85),
 (76, 12.87),
 (77, 5.9399999999999995),
 (78, 8.91),
 (79, 13.86),
 (81, 5.9399999999999995),
 (82, 6.93),
 (84, 11.879999999999999),
 (87, 7.92),
 (90, 10.89),
 (91, 10.89),
 (93, 9.9),
 (94, 7.92),
 (95, 10.89),
 (96, 5.9399999999999995),
 (97, 5.9399999999999995),
 (98, 9.9),
 (100, 5.9399999999999995),
 (102, 9.9),
 (103, 5.9399999999999995),
 (105, 7.92),
 (106, 7.92),
 (107, 10.89),
 (109, 10.89),
 (110, 5.9399999999999995),
 (113, 9.9),
 (115, 8.91),
 (116, 10.89),
 (117, 10.89),
 (120, 5.9399999999999995),
 (121, 8.91),
 (123, 11.879999999999999),
 (124, 5.9399999999999995),
 (125, 9.9),
 (127, 10.89),
 (128, 6.93),
 (129, 10.89),
 (133, 9.9),
 (134, 7.92),
 (138, 10.89),
 (140, 7.92),
 (142, 14.85),
 (146, 12.87),
 (148, 8.91),
 (149, 8.91),
 (152, 5.9399999999999995),
 (153, 13.86),
 (155, 8.91),
 (156, 10.89),
 (158, 5.9399999999999995),
 (159, 5.9399999999999995),
 (160, 8.91),
 (161, 7.92),
 (162, 8.91),
 (163, 8.91),
 (165, 7.92),
 (166, 9.9),
 (167, 5.9399999999999995),
 (168, 5.9399999999999995),
 (169, 8.91),
 (170, 9.9),
 (171, 12.87),
 (172, 7.92),
 (173, 10.89),
 (174, 6.93),
 (176, 6.93),
 (179, 9.9),
 (180, 9.9),
 (181, 6.93),
 (182, 5.9399999999999995),
 (185, 8.91),
 (187, 6.93),
 (188, 10.89),
 (192, 8.91),
 (195, 10.89),
 (196, 9.9),
 (197, 10.89),
 (198, 10.89),
 (200, 7.92),
 (201, 11.879999999999999),
 (203, 9.9),
 (204, 10.89),
 (205, 9.9),
 (208, 5.9399999999999995),
 (210, 10.89),
 (211, 8.91),
 (212, 11.879999999999999),
 (213, 10.89),
 (217, 9.9),
 (218, 8.91),
 (220, 8.91),
 (221, 7.92),
 (224, 9.9),
 (225, 5.9399999999999995),
 (226, 10.89),
 (227, 9.9),
 (230, 7.92),
 (233, 5.9399999999999995),
 (235, 6.93),
 (238, 9.9),
 (242, 9.9),
 (243, 10.89),
 (246, 8.91),
 (247, 10.89),
 (248, 6.93),
 (250, 10.89),
 (251, 6.93),
 (252, 7.92),
 (253, 11.879999999999999),
 (254, 9.9),
 (257, 10.89),
 (259, 6.93),
 (260, 7.92),
 (261, 8.91),
 (262, 7.92),
 (265, 6.93),
 (266, 5.9399999999999995),
 (268, 10.89),
 (270, 10.89),
 (271, 10.89),
 (272, 8.91),
 (275, 7.92),
 (280, 10.89),
 (281, 13.86),
 (283, 8.91),
 (284, 10.89),
 (285, 9.9),
 (288, 10.89),
 (289, 6.93),
 (292, 9.9),
 (294, 10.89),
 (296, 12.87),
 (298, 8.91),
 (299, 5.9399999999999995),
 (300, 11.879999999999999),
 (301, 7.92),
 (303, 9.9),
 (304, 6.93),
 (305, 14.85),
 (306, 10.89),
 (307, 9.9),
 (308, 10.89),
 (309, 8.91),
 (310, 8.91),
 (311, 5.9399999999999995),
 (312, 9.9),
 (314, 9.9),
 (317, 11.879999999999999),
 (318, 7.92),
 (319, 9.9),
 (322, 9.9),
 (323, 7.92),
 (325, 9.9),
 (326, 8.91),
 (327, 8.91),
 (330, 12.87),
 (331, 5.9399999999999995),
 (332, 9.9),
 (333, 5.9399999999999995),
 (334, 14.85),
 (335, 14.85),
 (337, 9.9),
 (339, 7.92),
 (341, 11.879999999999999),
 (343, 5.9399999999999995),
 (345, 9.9),
 (346, 5.9399999999999995),
 (348, 8.91),
 (351, 9.9),
 (353, 9.9),
 (355, 6.93),
 (356, 6.93),
 (358, 6.93),
 (359, 8.91),
 (364, 5.9399999999999995),
 (366, 8.91),
 (367, 7.92),
 (369, 9.9),
 (370, 8.91),
 (372, 13.86),
 (374, 5.9399999999999995),
 (375, 8.91),
 (379, 11.879999999999999),
 (380, 9.9),
 (381, 12.87),
 (383, 9.9),
 (384, 10.89),
 (385, 6.93),
 (387, 5.9399999999999995),
 (388, 9.9),
 (392, 7.92),
 (393, 10.89),
 (394, 7.92),
 (395, 9.9),
 (396, 8.91),
 (397, 6.93),
 (399, 11.879999999999999),
 (401, 9.9),
 (402, 8.91),
 (403, 8.91),
 (404, 13.86),
 (405, 7.92),
 (407, 9.9),
 (408, 5.9399999999999995),
 (409, 10.89),
 (412, 7.92),
 (413, 14.85),
 (414, 9.9),
 (415, 8.91),
 (417, 9.9),
 (419, 9.9),
 (420, 9.9),
 (421, 7.92),
 (422, 6.93),
 (423, 10.89),
 (427, 14.85),
 (429, 10.89),
 (431, 9.9),
 (434, 9.9),
 (435, 5.9399999999999995),
 (436, 5.9399999999999995),
 (437, 9.9),
 (438, 10.89),
 (439, 6.93),
 (441, 6.93),
 (443, 7.92),
 (444, 8.91),
 (446, 8.91),
 (447, 10.89),
 (448, 9.9),
 (450, 6.93),
 (452, 7.92),
 (454, 14.85),
 (456, 9.9),
 (457, 14.85),
 (460, 10.89),
 (461, 7.92),
 (462, 8.91),
 (463, 11.879999999999999),
 (465, 6.93),
 (467, 9.9),
 (474, 6.93),
 (475, 7.92),
 (476, 10.89),
 (477, 6.93),
 (480, 9.9),
 (482, 7.92),
 (485, 9.9),
 (486, 8.91),
 (487, 9.9),
 (488, 13.86),
 (490, 8.91),
 (494, 9.9),
 (496, 7.92),
 (497, 6.93),
 (499, 9.9),
 (500, 8.91),
 (501, 12.87),
 (503, 9.9),
 (504, 10.89),
 (508, 8.91),
 (509, 6.93),
 (510, 9.9),
 (511, 6.93),
 (512, 8.91),
 (513, 10.89),
 (517, 8.91),
 (519, 6.93),
 (520, 9.9),
 (522, 7.92),
 (523, 7.92),
 (525, 9.9),
 (527, 10.89),
 (529, 13.86),
 (531, 11.879999999999999),
 (532, 13.86),
 (533, 12.87),
 (534, 5.9399999999999995),
 (536, 5.9399999999999995),
 (537, 7.92),
 (538, 8.91),
 (540, 10.89),
 (542, 10.89),
 (544, 8.91),
 (545, 7.92),
 (546, 6.93),
 (547, 9.9),
 (548, 10.89),
 (549, 10.89),
 (550, 9.9),
 (551, 10.89),
 (552, 5.9399999999999995),
 (554, 8.91),
 (556, 10.89),
 (557, 9.9),
 (558, 10.89),
 (559, 5.9399999999999995),
 (560, 8.91),
 (561, 6.93),
 (562, 8.91),
 (564, 5.9399999999999995),
 (565, 9.9),
 (567, 7.92),
 (568, 6.93),
 (573, 10.89),
 (574, 10.89),
 (576, 5.9399999999999995),
 (577, 8.91),
 (578, 11.879999999999999),
 (579, 10.89),
 (580, 9.9),
 (581, 13.86),
 (583, 10.89),
 (585, 8.91),
 (586, 10.89),
 (589, 10.89),
 (590, 8.91),
 (591, 6.93),
 (592, 7.92),
 (593, 10.89),
 (595, 7.92),
 (596, 5.9399999999999995),
 (597, 6.93),
 (599, 7.92),
 (601, 10.89),
 (602, 6.93),
 (606, 11.879999999999999),
 (610, 6.93),
 (612, 11.879999999999999),
 (613, 8.91),
 (614, 12.87)]

In [6]:
%sql SELECT customer_id, first_name, last_name, company FROM customer WHERE state IN ('RJ', 'DF', 'AB', 'BC', 'CA', 'WA', 'NY');

 * sqlite:///chinook.db
Done.

[(12, 'Roberto', 'Almeida', 'Riotur'),
 (13, 'Fernanda', 'Ramos', None),
 (14, 'Mark', 'Philips', 'Telus'),
 (15, 'Jennifer', 'Peterson', 'Rogers Canada'),
 (16, 'Frank', 'Harris', 'Google Inc.'),
 (17, 'Jack', 'Smith', 'Microsoft Corporation'),
 (18, 'Michelle', 'Brooks', None),
 (19, 'Tim', 'Goyer', 'Apple Inc.'),
 (20, 'Dan', 'Miller', None)]

In [7]:
%sql SELECT invoice_id,total FROM invoice WHERE (customer_id IN (56,58)) AND (total BETWEEN 5 AND 15);

 * sqlite:///chinook.db
Done.

[(218, 8.91),
 (304, 6.93),
 (380, 9.9),
 (381, 12.87),
 (82, 6.93),
 (100, 5.9399999999999995),
 (140, 7.92),
 (146, 12.87),
 (246, 8.91),
 (285, 9.9),
 (294, 10.89)]

In [8]:
%sql SELECT * FROM invoice WHERE invoice_id=315;

 * sqlite:///chinook.db
Done.

[(315, 10, '2019-01-30 00:00:00', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', 4.95)]

In [9]:
%sql SELECT track_id,name FROM track WHERE name LIKE 'All%';

 * sqlite:///chinook.db
Done.

[(38, 'All I Really Want'),
 (134, 'All For You'),
 (385, 'All Star'),
 (1009, 'All My Life'),
 (1608, 'All My Love'),
 (1892, 'All Within My Hands'),
 (2192, 'All or None'),
 (2274, 'All Dead, All Dead'),
 (2888, 'All the Best Cowboys Have Daddy Issues'),
 (2969, 'All Because Of You'),
 (2991, 'All Along The Watchtower'),
 (3003, 'All I Want Is You'),
 (3017, 'All I Want Is You'),
 (3316, 'All My Love'),
 (3374, 'All Night Thing')]

In [10]:
%sql SELECT COUNT(track_id) FROM track WHERE name LIKE 'All%';

 * sqlite:///chinook.db
Done.

[(15,)]

In [11]:
%sql SELECT email FROM customer WHERE email LIKE 'J%gmail.com';

 * sqlite:///chinook.db
Done.

[('jubarnett@gmail.com',)]

In [12]:
%sql SELECT * FROM invoice WHERE billing_city IN ('Brasilia', 'Edmonton', 'Vancouver') ORDER BY invoice_id DESC;

 * sqlite:///chinook.db
Done.

[(609, 14, '2020-12-20 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 2.9699999999999998),
 (606, 15, '2020-12-18 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 11.879999999999999),
 (575, 15, '2020-10-19 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 3.96),
 (567, 15, '2020-09-27 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 7.92),
 (564, 15, '2020-09-20 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 5.9399999999999995),
 (530, 14, '2020-06-22 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 0.99),
 (483, 15, '2020-02-29 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 4.95),
 (469, 14, '2020-01-28 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 0.99),
 (425, 14, '2019-09-13 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 0.99),
 (371, 14, '2019-06-01 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 0.99),
 (370, 14, '2019-06-01 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 8.91),
 (321, 14, '2019-02-23 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 0.99),
 (293, 14, '2018-11-29 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 4.95),
 (233, 14, '2018-06-01 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 5.9399999999999995),
 (229, 15, '2018-05-19 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 2.9699999999999998),
 (142, 15, '2017-11-10 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 14.85),
 (132, 14, '2017-10-22 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 1.98),
 (110, 15, '2017-08-29 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 5.9399999999999995),
 (60, 15, '2017-04-24 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 7.92)]

In [13]:
%sql SELECT customer_id, COUNT(*) FROM invoice GROUP BY customer_id ORDER BY COUNT(*) DESC;

 * sqlite:///chinook.db
Done.

[(5, 18),
 (35, 16),
 (13, 15),
 (1, 13),
 (30, 13),
 (34, 13),
 (46, 13),
 (57, 13),
 (58, 13),
 (6, 12),
 (10, 12),
 (17, 12),
 (20, 12),
 (22, 12),
 (26, 12),
 (33, 12),
 (43, 12),
 (2, 11),
 (12, 11),
 (21, 11),
 (31, 11),
 (36, 11),
 (42, 11),
 (44, 11),
 (50, 11),
 (53, 11),
 (9, 10),
 (11, 10),
 (14, 10),
 (23, 10),
 (25, 10),
 (28, 10),
 (37, 10),
 (45, 10),
 (48, 10),
 (49, 10),
 (51, 10),
 (55, 10),
 (3, 9),
 (4, 9),
 (7, 9),
 (15, 9),
 (19, 9),
 (27, 9),
 (38, 9),
 (39, 9),
 (40, 9),
 (41, 9),
 (47, 9),
 (54, 9),
 (16, 8),
 (18, 8),
 (24, 8),
 (32, 8),
 (52, 8),
 (59, 8),
 (8, 7),
 (56, 5),
 (29, 4)]

In [14]:
%sql SELECT COUNT(*) FROM (SELECT album_id, COUNT(*) FROM track GROUP BY album_id HAVING COUNT(*) >=12 );

 * sqlite:///chinook.db
Done.

[(158,)]